.cart-page-container {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: url(../assets/backgrounds/todotrampa-background.png) no-repeat center center;
    background-size: cover;
}

.cart-title {
    text-align: center;
    background: transparent;
    font-size: 10rem;
    font-family: "Karantina";
    font-weight: 800;
}

.cart-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

.cart-total {
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
}


.cartPage-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(27, 27, 27, 10%);
    border: solid 0.3px rgb(66, 66, 66, 31%);
    height: 102px;
    width: 1000px;
    border-radius: 12px;
}

.cartPage-cart-left {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    gap: 3rem;
}

.cartPage-product-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.3px rgb(66, 66, 66, 31%);
    border-radius: 12px;
}


.cartPage-product-container img {
    background: transparent;
    object-fit: cover;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.cartPage-product-name {
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
}

.cartPage-cart-right {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-right: 3rem;
}

.cartPage-product-price{
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
}


.cartPage-quantity-input{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-quantity {
    background: #090909;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 2%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.btn-quantity:hover {
    background-color: rgb(167, 14, 14);
    transition: all 0.3s ease;
}


.quantity {
    background: transparent;
    font-size: 2rem;
    font-family: "Karantina";
}


.btn-pay {
    background: rgb(7, 123, 56);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border: solid 0.3px rgb(66, 66, 66, 31%);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 5%;
}

.btn-pay:hover {
    background-color: rgb(5, 87, 41);
    transition: all 0.3s ease;
}